.sidebar .content {
    background: #FFFFFF;
    width: 290px;
    /* position: relative; */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    overflow-y: auto;
}

.btn-toggle-sidebar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    z-index: 17;
}

.btn-toggle-sidebar-no-active {
    right: -55px;
    background-color: rgb(185, 181, 181);
    color: #FFFFFF;
}

.sidebar .content::-webkit-scrollbar {
    display: none;
}

.sidebar .menus .item{
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .menus .item.active a,
.sidebar .menus .item:hover a{
    color: #0C145A;
    font-weight: 500;
}

.sidebar .menus .item.active > svg path,
.sidebar .menus .item:hover > svg path{
    transition: all 0.2s linear;
    stroke: #4D17E2;
}

.sidebar .menus .item.active::after{
    content: " ";
    border: 2px solid #00BAFF;
    border-radius: 999px;
    width: 0px;
    height: 100%;
    position: absolute;
    background-color: #00BAFF;
    right: 0;
    transition: all 0.2s linear;
}


.sidebar .menus .item a{
    color: #7E8CAC;
    transition: all 0.2s linear;
}

.sidebar-footer .footer-card{
    background-color: #F9FAFF;
    border-radius: 1rem;
    padding: 20px;
}

.sidebar-footer .btn-get-started{
    background-color: #4D17E2;
    padding: 0.438rem;
}

@media (min-height: 900px){
    .sidebar .content {
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .sidebar {
      /* display: none; */
      position: fixed;
      width: 100%;
      height: 100%;
      /* left: 0;
      right: 0;
      bottom: 0; */
      background-color: rgba(14, 14, 14, 0.5);
      z-index: 7;
      transform: translateX(-100%);
    }
    .sidebar .content {
        position: relative;
    }
    .sidebar-show {
        transform: translateX(0);

    }
}